Source: opa-ff
Maintainer: Scibian Project <packaging@scibian.org>
Section: utils
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/opa-ff.git
Vcs-Browser: https://github.com/scibian/opa-ff
Build-Depends: debhelper (>= 10),
               ibacm (>= 1.2.0),
               libexpat-dev,
               libibumad-dev (>= 1.3.10.2),
               libibverbs-dev (>= 1.1.2),
               libncurses5-dev,
               libssl-dev (>= 1.0.1),
               tcl-dev,

Package: libopamgt-dev
Section: libdevel
Architecture: amd64
Depends: libopamgt0 (=${binary:Version}),
         ${misc:Depends},
Description: Summary: Omni-Path library development headers
 This package contains the necessary headers for opamgt development.

Package: libopamgt0
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Omni-Path management API library
 This package contains the library necessary to build applications that
 interface with an Omni-Path FM.

Package: libopasadb-dev
Section: libdevel
Architecture: amd64
Depends: libopasadb1 (= ${binary:Version}),
         ${misc:Depends},
Description: Development files for libopasadb1
 libopasadb is a library for easy access to the Omni-Path shared memory SA
 cache exported by the ibacm distributed SA provider (dsap).
 .
 This package is needed to compile programs against libopasadb1.
 It contains the header files and links needed for compiling.

Package: libopasadb1
Section: libs
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Omni-Path dsap API library
 libopasadb is a library for easy access to the Omni-Path shared memory SA
 cache exported by the ibacm distributed SA provider (dsap).
 .
 This package contains the shared libraries.

Package: opa-address-resolution
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends},
Depends: ibacm (>= 1.2.0),
         libopasadb1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Contains Address Resolution manager
 This package contains the ibacm distributed SA provider (dsap) for name
 and address resolution on OPA platform.
 .
 It also contains the library and tools to access the shared memory
 database exported by dsap.

Package: opa-basic-tools
Architecture: amd64
Depends: bc,
         expect,
         libexpat1,
         linux-cpupower,
         pciutils,
         tcl,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Description: Management level tools and scripts
 Contains basic tools for fabric management necessary on all compute nodes.

Package: opa-fastfabric
Architecture: amd64
Depends: cron | cron-daemon,
         expect,
         opa-basic-tools (=${binary:Version}),
         tcl,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Replaces: opa-basic-tools,
          opa-fast-fabric,
Conflicts: opa-fast-fabric,
Description: Management level tools and scripts
 Contains tools for managing fabric on a management node.

Package: opa-snapconfig
Architecture: amd64
Depends: opa-fastfabric (=${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Configure fabric with snapshot file
 Parse information from provided snapshot file and issue packets to program.
