Source: opa-ff
Maintainer: Brian T. Smith <bsmith@systemfabricworks.com>
Section: utils
Priority: extra
Standards-Version: 3.9.8
Homepage: http://www.intel.com
Build-Depends: debhelper (>= 10),
               ibacm,
               libexpat-dev,
               libibmad-dev,
               libibumad-dev,
               libibverbs-dev,
               libncurses5-dev,
               libopensm-dev,
               libssl-dev,
               tcl-dev,
               zlib1g-dev,

Package: libopamgt-dev
Section: libdevel
Architecture: amd64
Depends: libopamgt0 (=${binary:Version}),
         ${misc:Depends},
Description: Summary: Omni-Path library development headers
 This package contains the necessary headers for opamgt development.

Package: libopamgt0
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends},
Depends: libibumad3,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Omni-Path management API library
 This package contains the library necessary to build applications that
 interface with an Omni-Path FM.

Package: opa-address-resolution
Architecture: amd64
Depends: ibacm,
         opa-basic-tools (=${binary:Version}),
         libopasadb1 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends},
Description: Contains Address Resolution manager
 This package contains the ibacm distributed SA provider (dsap) for name
 and address resolution on OPA platform.
 .
 It also contains the library and tools to access the shared memory
 database exported by dsap.

Package: opa-basic-tools
Architecture: amd64
Depends: bc,
         expect,
         libexpat1,
         tcl,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Description: Management level tools and scripts
 Contains basic tools for fabric management necessary on all compute nodes.

Package: opa-fastfabric
Architecture: amd64
Depends: expect,
         opa-basic-tools (=${binary:Version}),
         tcl,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Replaces: opa-basic-tools (=${binary:Version}),
          opa-fast-fabric,
Conflicts: opa-fast-fabric,
Description: Management level tools and scripts
 Contains tools for managing fabric on a management node.

Package: libopasadb1
Section: libs
Architecture: amd64
Pre-Depends: ${misc:Pre-Depends},
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Omni-Path dsap API library
 libopasadb is a library for easy access to the Omni-Path shared memory SA
 cache exported by the ibacm distributed SA provider (dsap).
 .
 This package contains the shared libraries.

Package: libopasadb-dev
Section: libdevel
Architecture: amd64
Depends: libopasadb1 (= ${binary:Version}),
         ${misc:Depends},
Description: Development files for libopasadb1
 libopasadb is a library for easy access to the Omni-Path shared memory SA
 cache exported by the ibacm distributed SA provider (dsap).
 .
 This package is needed to compile programs against libopasadb1.
 It contains the header files and links needed for compiling.
