#!/usr/bin/make -f

BUILDDIR=$(CURDIR)/OpenIb_Host/BUILD
DESTDIR=$(CURDIR)/debian/tmp
LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

%:
	dh $@ --parallel

.PHONY: override_dh_auto_clean
override_dh_auto_clean:

.PHONY: override_dh_auto_configure
override_dh_auto_configure:

.PHONY: override_dh_auto_build
override_dh_auto_build:
	mkdir $(BUILDDIR)
	cd OpenIb_Host && LIBDIR=$(LIBDIR) OPA_FEATURE_SET=opa10 ./ff_build.sh $(BUILDDIR)

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip --dbg-package=opa-dbg

.PHONY: override_dh_auto_test
override_dh_auto_test:

.PHONY: override_dh_auto_install
override_dh_auto_install:
	mkdir -p $(DESTDIR)/etc/opa
	mkdir -p $(DESTDIR)/etc/rdma
	mkdir -p $(DESTDIR)/etc/profile.d
	mkdir -p $(DESTDIR)/usr/bin
	mkdir -p $(DESTDIR)/usr/sbin
	mkdir -p $(DESTDIR)/usr/lib/ibacm
	mkdir -p $(DESTDIR)/usr/include/infiniband
	mkdir -p $(DESTDIR)/usr/lib/opa/tools
	mkdir -p $(DESTDIR)/usr/lib/opa/fm_tools
	mkdir -p $(DESTDIR)/usr/share/opa/help
	mkdir -p $(DESTDIR)/usr/share/opa/samples
	mkdir -p $(DESTDIR)/usr/share/man/man1
	mkdir -p $(DESTDIR)/usr/share/man/man8
	mkdir -p $(DESTDIR)/usr/src/opa/mpi_apps
	mkdir -p $(DESTDIR)/usr/src/opa/shmem_apps
	BUILDDIR=$(BUILDDIR) DESTDIR=$(DESTDIR) LIBDIR=$(LIBDIR) ./OpenIb_Host/ff_install.sh
	install -m 0644 debian/etc/intel-opa.sh $(DESTDIR)/etc/profile.d/intel-opa.sh
	find $(DESTDIR)/usr -type f \( \
		-name '*.[ch]' \
		-o -name '*.xlsx' \
		\) -exec chmod 0644 {} \;
	ln -s libopamgt.so.0.4.0 $(DESTDIR)/$(LIBDIR)/libopamgt.so.0
	ln -s libopasadb.so.1.0.0 $(DESTDIR)/$(LIBDIR)/libopasadb.so.1
	ln -s libopasadb.so.1.0.0 $(DESTDIR)/$(LIBDIR)/libopasadb.so


